.home-page{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .text-zone{
        padding: 0;
        width:70%;
        margin-left: 10%;
        height: auto;

    }

    h1{
        color: #fff;
        font-size: 500%;
        font-family:'Coolvetica';
        font-weight: 400;

        img{
            width:30px;

        }
    }
}