.nav-bar{
    width: 5%;
    background: #181818;
    height: 100%;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;

    .logo{
       display: flex;
       flex-direction: column;
       width: 100%;
       padding: 8px 0;

       img{
        width:60%;
        height: auto;
        margin: 5px auto;
       }

       .sub-logo{
        width: 80%;
        height: auto;
       }
    }

    nav{
        width:100%;
        text-align: center;
        height: auto;
        display: flex;
        flex-direction: column;

        

        a{
            margin: 15px auto;
            width:90%;
            height: auto;
            color: #4d4d4e;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            justify-content: center;
            align-items: center;

            i{
               
                transition: all 0.3s ease-out;
            }

            svg{
                width: 40%;
                height: auto;
            }

            &:hover{
                color: #ffd700;

                svg{
                    opacity: 0;
                }

                &:after{
                    opacity:1;
                }
            }

            &:after{
                content: '';
                font-size: 9px;
                width:100%;
                text-align: center;
                letter-spacing: 2px;
                align-self: flex-start;
                opacity: 0;
                transition: all 0.3s ease-out;
                bottom: 50%;
                position: relative;
            }

            &.home-link{
                &::after{
                    content: 'HOME';
                }
            }

            &.about-link{
                &::after{
                    content: 'ABOUT';
                }
            }

            &.contact-link{
                &::after{
                    content: 'CONTACT';
                }
            }

            &.active{
                svg{
                 color: #ffd700;
                }
            }
        }


    }

    ul{
        width:100%;
        padding: 0;
        text-align: center;
        list-style: none;

        li{

            margin: 5px auto;
            a{
                line-height: 16px;
                font-size: 20px;


                &:hover{
                    svg{
                        color: #ffd700;
                        transition: all 0.5s ease-out;
                    }
                   
                }

                svg{
                    width:100%;
                }
            }
        }
    }
}